@import url('https://fonts.googleapis.com/css?family=Domine:700|Montserrat:400,700|Open+Sans&display=swap');

* {
	padding: 0;
	margin: 0;
	border: 0;
}

html{ font: 15px/1.46 "Open Sans", sans-serif;
	font-weight: 400;
	color: #9aa0ab;
	margin: 0;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.container{
	width: 100%;
	max-width: 62.67rem;
	margin: 0 auto;
}